# SSH Config file created from https://gitlab.com/ska-telescope/sdi/distribute-ssh-keys/-/blob/master/inventory_ssh_keys

{% for item in all_hosts._meta.hostvars | dict2items %}
Host {{ item.key }}
    {% if 'ansible_host' in item.value %}HostName {{ item.value.ansible_host }}{% endif %}
    
    {% if 'ansible_user' in item.value %}User {{ item.value.ansible_user }}{% endif %}


{% endfor %}